*.py[co]
.DS_Store
_build
build
dist
*.egg-info
*~
*.bak
*.swp
nengo.simulator.logs/
nengo.simulator.analytics/
nengo.simulator.plots/
data/
log.txt
.ipynb_checkpoints/
.cache
.tox
.vagrant
wintest.sh
Vagrantfile
env.log

*.class

# User-specific stuff:
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/vcs.xml
.idea/jsLibraryMappings.xml

# Sensitive or high-churn files:
.idea/dataSources.ids
.idea/dataSources.xml
.idea/dataSources.local.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml

# Gradle:
.idea/gradle.xml
.idea/libraries

# Mongo Explorer plugin:
.idea/mongoSettings.xml

## File-based project format:
*.iws